.container {
  margin: 0 auto;
  display: flex;
  width: 900px; }

#posts {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column-reverse; }

.post {
  border-bottom: 1px solid #dcdcdc;
  margin-top: 30px; }
  .post button {
    border: 0;
    width: 70px;
    height: 25px;
    font-size: 16px; }
  .post .post-header {
    display: flex;
    align-items: stretch;
    flex-direction: row; }
    .post .post-header .avatar {
      height: 50px;
      width: 50px;
      padding-right: 10px; }
    .post .post-header p {
      padding-right: 5px; }
  .post .post-title {
    padding-top: 10px;
    font-size: 36px;
    font-weight: bold; }
  .post .post-info {
    display: flex;
    align-items: center; }
    .post .post-info > * {
      margin-right: 10px; }
  .post .post-content {
    margin: 15px 0; }

.post-img .post-content img {
  width: 550px;
  display: block;
  margin: 0 auto; }

#userReistrationForm, #userLoginForm {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  #userReistrationForm input, #userLoginForm input {
    margin: 5px;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif; }
  #userReistrationForm button, #userLoginForm button {
    border: 0;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px; }
  #userReistrationForm #errorReistrationForm, #userReistrationForm #errorLoginForm, #userLoginForm #errorReistrationForm, #userLoginForm #errorLoginForm {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    color: red; }
  #userReistrationForm button:hover, #userLoginForm button:hover {
    border: 1px solid black; }
  #userReistrationForm button:active, #userLoginForm button:active {
    font-size: 21px; }

.userBlock {
  display: flex;
  width: 300px;
  flex-direction: row;
  margin: 0 auto; }
  .userBlock div {
    padding: 5px; }
  .userBlock h4 {
    padding: 5px;
    margin: 0;
    margin-top: 7px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; }
  .userBlock P {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; }
  .userBlock button {
    border: 0;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
  .userBlock img {
    width: 120px;
    height: 120px; }

#addNewPostWrapper form {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column; }
  #addNewPostWrapper form input, #addNewPostWrapper form textarea, #addNewPostWrapper form select {
    margin-bottom: 7px; }

.AddNewPost {
  margin-top: 10px;
  border: 0;
  width: 200px;
  height: 30px;
  font-size: 18px;
  font-weight: bold; }

#addNewPost {
  order: 100000; }
