.container{
    margin: 0 auto;
    display: flex;
    width: 900px;
}

#posts {
    margin: 0 auto;
    width: 750px;
    display: flex;
    flex-direction: column-reverse;
    //border: 1px solid red;
}

.post {
    button {
        border: 0;
        width: 70px;
        height: 25px;
        font-size: 16px;
    }

    border-bottom: 1px solid #dcdcdc;
    margin-top: 30px;
    .post-header {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        .avatar {
            height: 50px;
            width: 50px;
            padding-right: 10px;
        }
        p {
            padding-right: 5px;
        }
    }
    .post-title {
        padding-top: 10px;
        font-size: 36px;
        font-weight: bold;
    }
    .post-info {
        display: flex;
        align-items: center;
        >* {
            margin-right: 10px
        }
    }

    .post-content{
        margin: 15px 0;
    }
}

.post-img {
    .post-content {
        
        img {
            width: 550px;
            display: block;
            margin: 0 auto;
        }
    }
}
#userReistrationForm, #userLoginForm {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    input {
        margin: 5px;
        height: 40px;
        font-size: 18px;
        padding-left: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        border: 0;
        height: 40px;
        font-weight: bold;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 7px;
    }

    #errorReistrationForm, #errorLoginForm{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 5px;
        color:red;

    }
    
    button:hover{
        border: 1px solid black;
    }

    button:active{
        font-size: 21px;
    }
}

.userBlock {
    display: flex;
    width: 300px;
    flex-direction: row;
    margin: 0 auto;

    div {
        padding: 5px;
    }

    h4{ 
        padding: 5px;
        margin: 0;
        margin-top: 7px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    P {
        margin: 0;
        padding: 5px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        border: 0;
        width: 100px;
        height: 30px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    img {
        width: 120px;
        height: 120px;
    }
}

#addNewPostWrapper {

    form {
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        padding: 5px;
        margin-top: 20px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        input,textarea,select{
            margin-bottom: 7px;
        }
    }
}

.AddNewPost{
    margin-top: 10px;
    border: 0;
    width: 200px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}
#addNewPost{
    order: 100000;
}